# --- Java & Build ---
*.class
**/bin/
**/target/
**/build/

# --- Eclipse Settings ---
.project
.classpath
.settings/
.metadata/
.recommenders/

# --- IntelliJ Settings ---
.idea/
*.iml
*.iws
out/

# --- VS Code Settings ---
.vscode/

# --- OS & ETC ---
.DS_Store
Thumbs.db
*.log
**/node_modules/
**/Servers/